<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.jjtorroglosa.mqttrooper</string>
    <key>ProgramArguments</key>
    <array>
        <string>/Users/juanjo/src/mqttrooper/dist/mqttrooper.amd64.darwin</string>
        <string>-c</string>
        <string>/Users/juanjo/src/mqttrooper/config.yaml</string>
    </array>
    <key>EnvironmentVariables</key>
    <dict>
        <key>PATH</key>
        <string>/Users/juanjo/bin:/usr/local/bin:/usr/local/sbin:/usr/bin:/bin:/usr/sbin:/sbin</string>
    </dict>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <dict>
      <key>SuccessfulExit</key>
      <false/>
      <key>Crashed</key>
      <true/>
    </dict>
    <key>StandardOutPath</key>
    <string>/tmp/mqttrooper_juanjo.out.log</string>
    <key>StandardErrorPath</key>
    <string>/tmp/mqttrooper_juanjo.err.log</string>
    <key>ProcessType</key>
    <string>Interactive</string>
    <key>Nice</key>
    <integer>-20</integer>
    <key>WatchPaths</key>
    <array>
      <string>/Users/juanjo/src/mqttrooper/config.yaml</string>
    </array>
</dict>
</plist>
