[Unit]
Description=Daemon to subscribe to a mqtt topic and spawn commands
After=snapserver.service
[Service]
WorkingDirectory=/home/jtorr/services/mqtt-commander
ExecStart=/home/jtorr/services/mqtt-commander/mqtt-commander -b 172.17.0.1 -p 8888
RestartSec=5
Restart=always
[Install]
WantedBy=multi-user.target
